# Node and Vite
node_modules/
dist/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment
.env
.env.*

# Misc
*.local
